<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://tollboothfunctions-fx527dz6pfjkw.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/3725d2ba-9e32-4c51-96d9-af445f4cd20d/resourceGroups/hands-on-lab-TDSCYSE1ZD/providers/Microsoft.Web/sites/TollBoothFunctions-fx527dz6pfjkw</ResourceId>
    <UserName>$TollBoothFunctions-fx527dz6pfjkw</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://tollboothfunctions-fx527dz6pfjkw.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>